################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimeClock/bin/Debug/net5.0
/TimeClock/obj
/.vs
